* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
scroll-behavior: smooth;
}

/* Navigation */
nav {
position: sticky;
top: 0;
background: #1e293b;
padding: 18px;
z-index: 1000;
}

nav ul {
list-style: none;
display: flex;
justify-content: center;
gap: 20px;
}

nav a {
color: white;
text-decoration: none;
font-weight: bold;
transition: 0.3s;
}

nav a:hover {
color: #38bdf8;
}

/* Sections */
section {
max-width: 1000px;
margin: 40px auto;
padding: 40px;
background: #1e293b;
border-radius: 15px;
}

/* Headings */
h1, h2, h3 {
color: #38bdf8;
margin-bottom: 15px;
}

/* Home */
#home {
text-align: center;
}

#home img {
width: 220px;
height: 220px;
object-fit: cover;
border-radius: 50%;
margin: 20px 0;
}

/* Skills */
#skills ul,
#skills ol {
margin-left: 25px;
}

#skills li {
margin: 8px 0;
}

/* Projects */
#projects div {
background: #334155;
padding: 20px;
margin-top: 15px;
border-radius: 10px;
}

/* Gallery */
#gallery {
text-align: center;
}

#gallery img {
width: 220px;
margin: 10px;
border-radius: 10px;
transition: 0.3s;
}

#gallery img:hover {
transform: scale(1.05);
}

/* Contact */
#contact a {
color: #38bdf8;
text-decoration: none;
}

#contact a:hover {
text-decoration: underline;
}

/* Footer */
footer {
text-align: center;
padding: 20px;
background: #1e293b;
margin-top: 20px;
}
